/part08-Part08_01.Cubes/target/
/part08-Part08_02.AverageOfPositiveNumbers/target/
/part08-Part08_03.LiquidContainers/target/
/part08-Part08_04.LiquidContainers2/target/
/part08-Part08_05.TodoList/target/
/part08-Part08_06.Nicknames/target/
/part08-Part08_07.Abbreviations/target/